/*override load-styles.php style*/
/* 
.custom-switch{padding-left: 5.25rem}

.custom-switch .custom-control-label::before {
	width: 5rem;
    left: -5.2rem;
}
.custom-control-label::before {
    height: 2rem;
}

.custom-switch .custom-control-input:checked~.custom-control-label::after {
    -webkit-transform: translateX(3rem);
    transform: translateX(3rem);
}


.custom-switch .custom-control-label::after {
    width: calc(2rem - 4px);
    height: calc(2rem - 4px);
    left: calc(-5.25rem + 2px);
}

.custom-control-label{
	padding-top: 9px;
    padding-left: 10px;
} */


/*select2*/
.select2-container {
	width: 100%!important
}

.select2-selection {
	font-size: 14px;
	outline: 0;
	min-height: 48px;
	text-align: left
}

.select2-selection__rendered {
	margin: 10px
}

.select2-selection__arrow {
	margin: 10px
}

.wp-core-ui .button{
    margin-right: 1%;
    padding: 0.4% 2%;
}

.wp-core-ui .button.button-small{
	margin-left: 1%;
	padding: 0.6% 2%;
}

.wp-picker-container .wp-color-result.button {
    min-height: 30px;
    margin: 0 6px 10px 0;
    padding: 0 0 0 60px;
    font-size: 16px;
}

.wp-color-result-text{
	background: #f6f7f7;
    border-radius: 0 2px 2px 0;
    border-left: 1px solid #c3c4c7;
    color: #50575e;
    display: block;
    line-height: 2.54545455;
    padding: 0 20px;
    text-align: center;
}
    
/*carousel gallery style*/
.carousel-inner img {
  max-width: 500px;
  max-height: 350px;
}
.carousel {
    max-height: 350px;
    max-width: 500px
}


#advsign-modal{display:none}
#TB_ajaxContent{display:flex;justify-content:center;align-items:center}
.advsign-modal-content p{font-size:20px}
.advsign-modal-content span{width: 100%;margin-bottom: 5px;}

